.main-form-container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  row-gap: 10px;
}

.progress-tracker {
  margin: 50px auto;
}

.progress-tracker h1 {
  margin-bottom: 20px;
}

.progress-bar {
  height: 30px;
  width: 300px;
}

.page-tracker {
  text-align: center;
}

.content {
  margin: 0 auto;
}
