.basicform {
  padding: 30px 30px 30px 30px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  border-radius: 2%;
  background: linear-gradient(to right, #ff4b2b 50%, white 50%);
}

.form-input {
  margin: 8px auto;
  width: 40%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.664);
  /* transition: 250ms width ease, 250ms; */
}

.form-input:focus {
  border-color: rgb(211, 24, 55);
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-text {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
  /* animation: showup 7s infinite; */
}

.form > p {
  margin: 0 auto;
  font-size: 18px;
  opacity: 0;
  animation: fade-in-top ease 0.4s forwards;
  animation-delay: 1.4s;
}

.next-btn {
  background: #ff4b2b;
}

.back-btn {
  background: white;
  color: #ff4b2b;
}

.buttons {
  display: flex;
  gap: 300px;
  margin-top: 4rem;
}

.loginhref {
  margin: 0;
}
